{% extends 'layouts/base.html' %}

{% block javascript %}
    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
            labels: ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            datasets: [{
                label: 'Ventas',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Sales Analytics</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Recientes</p>
            <ol>
                {% for order in recent_orders %}
                    <li>
                        {{ order.order_id}}
                        {{order.total}}
                        {{order.updated}}
                    </li>
                {% empty %}
                    <li>No hay ordenes recientes</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Enviados</p>
            <ol>
                {% for order in shipped_orders %}
                    <li>
                        {{ order.order_id}}
                        {{order.total}}
                        {{order.updated}}
                    </li>
                {% empty %}
                    <li>No hay ordenes enviados</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Pagados</p>
            <ol>
                {% for order in paid_orders %}
                    <li>
                        {{ order.order_id}}
                        {{order.total}}
                        {{order.updated}}
                    </li>
                {% empty %}
                    <li>No hay ordenes pagados</li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}